{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<h2> Add blog </h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label"> Title </label>
        {% render_field form.title class="form-control" placeholder="Blogning nomi" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Content </label>
        {% render_field form.content class="form-control" placeholder="Blogning matni" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Image </label>
        {% render_field form.image class="form-control" placeholder="Blogning rasmi"%}
    </div>
    <div class="mb-3">
        <label class="form-label"> Category </label>
        {% render_field form.category class="form-control" placeholder="Blogning kategoriyasi" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Tags </label>
        {% render_field form.tags class="form-control" placeholder="Blogning teglari"%}
    </div>

    <button type="submit" class="btn btn-primary">Add Blog</button>
</form>

{% endblock %}