{% extends 'base.html' %}

{% block content %}

<h2> All Categories </h2>

{% for category in categories %}
<div class="card" style="width: 100%;">
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2">
                <img src="{{category.image.url}}" style="width: 70%; text-align: center;">
            </div>
            <div class="col-lg-5">
                <h5 class="card-title"><a href="{% url 'category_blog' category.slug %}">{{category.name}}</a></h5>
                {{category.created_at|date:"d-F"}}
                Blogs: {{category.blog_set.count}}
                Users: {{category.user.count}}
                <p class="card-text">{{category.content|truncatechars:"100"}}</p>
            </div>
            <div class="col-lg-5" style="text-align: right">
                <button type="button" class="btn btn-warning">A'zo bo'lish</button>
            </div>
        </div>


    </div>
</div>
{% endfor %}

{% endblock %}