{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<h2> <span style="color:green">{{blog.title}}</span> blogini o'zgartirish </h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label"> Title </label>
        {% render_field form.title class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Content </label>
        {% render_field form.content class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Image </label>
        {% render_field form.image class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Category </label>
        {% render_field form.category class="form-control" %}
    </div>
    <div class="mb-3">
        <label class="form-label"> Tags </label>
        {% render_field form.tags class="form-control" value=teglar %}
    </div>
    <button type="submit" class="btn btn-primary">Update Blog</button>
</form>

{% endblock %}